name: Build Workflow
on:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v4

        
      - name: maven install
        uses: mvn install 



  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: code checkout
        uses: actions/checkout@v4


      - name: run test on main branch 
        uses: mvn test


      - name: checkstyle
        run: mvn checkstyle:checkstyle  